.container {
  display: flex;
  align-items: center;

}

.wrapper {
  font-size: 14px;
  font-weight: bold;
  background: white;
  padding: 10px;
  border: solid 1px white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper:hover {
  border: solid 1px #b0b0b0;
}

.wrapper_active {
  background: black;
  color: white;
  border: solid 1px black;
}

.wrapper +.wrapper {
  margin-left: 12px;
}

.input {
  font-size: 14px;
  color: #626262;
  margin-left: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
