.container {
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  margin-bottom: 24px;
}

.wrapper__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 40px;

}
